apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: olympic-analysis-hpa
  namespace: olympic-analysis
spec:
  scaleTargetRef:
    kind: Deployment
    name: olympic-analysis-deployment
    apiVersion: apps/v1
  minReplicas: 2
  maxReplicas: 5

  metrics: 
    - type: Resource
      resource: 
        name: cpu
        target: 
          type: Utilization
          averageUtilization: 5
